h1{}
body{}
.faq{
	padding-right: 296px;
    padding-left: 296px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 14px 0px 0px 14px;
    border-color: black;
    background-color: black;
    color: white;
}
